* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2F4858;
  color: white;
  padding: 2em;
}

/* Style the header */
.header {
  grid-area: header;
  background-color:#2F4858;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
      'header header header header' 
      'left left left left' 
      'right right right right' 
      'footer1 footer1 footer1 footer1'
	  'footer2 footer2 footer2 footer2';
      grid-template-columns: repeat(4, 25%);
}
  
 
.left,
.right,
.header,
.footer1, footer2 {
  
  display:grid;
  justify-items:center;  
  align-items:center;  
}

/* Style the left column */
.left {
  grid-area: left;
}


/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer1 {
  grid-area: footer1;
  padding: 10px;
  text-align: center;
}

.footer2 {
  grid-area: footer2;
  padding: 10px;
  text-align: center;
}


#question {
  font-size: 2em;
  font-weight:bold;
}


.options {
   font-size:1.5em;
   padding:0.4em;
   background-color: #2F4858;
   color: white;
}

.options:hover {
    background-color: #D7FA50;;
    border-radius: 100px;
    color: #2F4858;
}

#lightbox {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);
  z-index: 1;  
}

#message {
    width:80%;
    min-width:400px;
    padding:20px;
    background-color:red;
    color:white;
    text-align:center;
    font-size:4em;
    font-weight:bold;
    border-radius: 100px; 
	
	/* vertically and horizontally center the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#playAgain {
  font-size:1.5em;
  padding:0.4em;
  background-color: #2F4858;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (min-width: 600px) {
 .grid-container  {
  grid-template-areas: 
    'header header header header' 
    'left left right right' 
    'footer1 footer1 footer2 footer2';
  
}
}